* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #33475b;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

h1 {
    font-size: 45px;
    font-weight: 700;
    margin-top: 50px;
}

h2 {
    margin-bottom: 25px;
    font-size: 1.75em;
}

h4 {
    font-size: 23px;
}

p {
    font-size: 0.9em;
    line-height: 1.75;
}

ul {
    list-style: none;
    font-size: 0.95em;
}

a {
    text-decoration: none;
}

i.circle{
    color: #ff7a59;
    margin-right: 10px;
}

/* CONTAINER */
.container, .nav-fixed {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    /* DA CANCELLARE */
    height: 100%;
    border: 1px solid black;
}

.bg-light.bar {
    height: 70px;
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.bg-jumbo {
    height: 700px;
    background-color: white;
    background-image: url('../img/jumbotron.png');
    background-size: auto 630px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.bg-light.central {
    background-color: #f5f8fa;
    padding: 40px 0;
    /* DA CANCELLARE */
    /* height: 1500px; */
}

.bg-gradient {
    background-image: linear-gradient(to bottom left, #00bba7, #00a4bd);
    padding-top: 40px;
    padding-bottom: 70px;
    color: white;
    /* DA CANCELLARE */
    /* height: 800px; */
}

.bg-companies {
    background-color: white;
    /* DA CANCELLARE */
    height: 400px;
}

.bg-charcoal {
    background-color: #33475b;
    /* DA CANCELLARE */
    height: 400px;
}

/* NAV BAR FIXED */
.nav-fixed {
    font-size: 0.95em;
    line-height: 65px;
}

.nav-fixed ul, .nav-fixed li {
    float: left;
}

.nav-fixed span {
    border-right: 2px solid #cbd6e2;
    padding-right: 15px;
}

.nav-fixed li:last-child {
    margin: 0 15px;
}

.nav-fixed ul a {
    color: #33475b;
    text-decoration: none;
    margin: 0 2px;
}

/* CALL TO ACTION */
.cta {
    float: right;
}

.cta i {
    color: #00a4bd;
}

/* BUTTON */
button {
    color: white;
    background-color: #ff7a59;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.login {
    background-color: transparent;
    border: 1px solid #ff7a59;
    margin: 0 20px;
}

.login a {
    color: #ff7a59;
}

.login:hover {
    background-color: #fff1ee;
}

.btn-small {
    padding: 7.5px 15px;
}

.btn-big {
    padding: 15px 30px;
}

.corallo:hover {
    background-color: #ffbcac;
}

/* HEADER */
header {
    margin-top: 70px;
}

/* HEADER-TOP */
.header-top {
    height: 70px;
    line-height: 65px;
}

#logo, .header-top li {
    float: left;
}

#logo img {
    height: 30px;
    margin-top: 17.5px;
}

.header-top nav {
    float: right;
}

.header-top a {
    color: #33475b;
}

.header-top li {
    margin: 0 10px;
}

.header-top i {
    margin-left: 10px;
}

/* BANNER */
.banner {
    width: 40%;
    margin: 10px 0;
}

.banner p {
    margin: 30px 0;
}

.banner p:last-of-type {
    font-size: 0.7em;
}

/* BG-LIGHT CENTRAL */
/* TOP */
.top {
    text-align: center;
}

.top img {
    height: 150px;
}

.top p {
    padding: 0 16em;
}

/* MIDDLE */
.middle {
    background-color: white;
    margin: 40px 0;
    border-radius: 0.2em;
}

.middle .left {
    width: 30%;
    height: 100%;
    padding: 50px 0;
    padding-left: 90px;
    float: left;
    text-align: center;
}

.middle .left img {
    height: 100px;
}

.middle .left button {
    display: block;
    margin: 20px auto;
}

.middle .right {
    width: 70%;
    padding: 50px 60px;
    float: left;
}

.middle .right p:first-of-type {
    padding-right: 10em;
    margin: 20px 0;
}

.middle .right p:last-of-type {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
}

/* GIOCO UN PO' CON SELETTORI AVANZATI E PSEUDOELEMENTI, BASTAVA DARE UNA CLASSE AL p. INOLTRE, POTEVO USARE hr inline-block */
.middle .right p:last-of-type::after {
    content: '';
    position: absolute;
    top: 15px;
    width: 60%;
    height: 5px;
    margin-left: 3em;
    border-top: 2px solid darkgray;
}

.middle .right li {
    float: left;
    padding-right: 20px;
}

/* BOTTOM */
.bottom {
    /* DA CANCELLARE */
    height: 600px;
}

/* CARDS */
.cards {
    float: left;
    width: calc(100% / 3);
    /* DA CANCELLARE */
    height: 100%;
}

.cards.first {
    padding-right: 40px;
}

.cards.second {
    padding: 0 20px;
}

.cards.third {
    padding-left: 40px;
}

.cards-box {
    background-color: white;
    text-align: center;
    padding: 20px 45px;
    border-radius: 0.2em;
    height: 100%;
}

.cards img {
    height: 100px;
}

.cards h4 {
    margin: 25px 0;
}

hr {
    margin-top: 45px;
    margin-bottom: 25px;
    border: 1px solid darkgray;
}

.cards p:last-of-type {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 20px;
}

.cards li {
    text-align: left;
}

.cards button {
    margin-top: 50px;
}

/* BG-GRADIENT */
.section-header {
    text-align: center;
}

.section-header h2 {
    max-width: 900px;
    margin: 0 auto;
}

.section-header p {
    padding: 0 2em;
    margin: 25px 0;
}

/* TABLE */
/* DA CANCELLARE */
/* .table {
    width: 100%;
    height: 400px;
} */

.table-box {
    float: left;
    width: calc(100% / 4);
    text-align: center;
    padding: 30px;
    /* height: 50%;     */
}

/* PROVO A USARE IL SELETTORE not */
.table-box:not(:nth-child(4n)) {
    border-right: 1px solid white;
}

.table-box:not(:nth-child(n+5)) {
    border-bottom: 1px solid white;
}

.table-box img {
    display: block;
    margin: 0 auto;
}

.table-box h2 {
    display: inline-block;
    font-size: 2.25em;
    padding-right: 15px;
    margin: 12.5px 0;
    position: relative;
}

.table-box h2::after {
    position: absolute;
    content: '+';
    top: 25%;
    right: 0;
    font-size: 0.5em;
    font-weight: 400;
}

/* QUESTA IMMAGINE NON È ALTA COME LE ALTRE */
.table img.last {
    margin-bottom: 10px;
}

.table-box p {
    font-size: 0.75em;
}
